html {
  background: url("https://c4.wallpaperflare.com/wallpaper/879/796/946/dna-adn-black-background-wallpaper-preview.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 200%;
  color: rgb(134, 192, 48)
}
h1, h2, h3, h4, h5, h6 {
  color: rgb(163, 101, 168);
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  font-size: 150%;
}
p {
  color: red;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: navajowhite;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
}
label {
  margin-bottom: 10px;
}